@{
    ViewBag.Title = "Daftar Pesanan";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pesanan Anda</title>
</head>
<body>
    <div class="row">
       <div class="col-md-12">
           <div class="col-md-3">
               <h2><b>CGK -> DPS</b></h2>
               <b><p>29 April 2020</p></b>
               <b><p>Dewasa | Ekonomi</p></b>
           </div>

           <table class="table table-striped">
               <thead>
                   <tr>
                       <th class="text-center">Maskapai</th>
                       <th class="text-center">Waktu</th>
                       <th class="text-center">Harga</th>
                       <th colspan=1><center>Opsi</center></th>

                   </tr>



                   <tr class="jumbotron">
                       <td class="text-center">Puyuh Air</td>
                       <td class="text-center">1j 55m</td>
                       <td class="text-center">Rp 919.200</td>
                       <td align=right width=70px><a href="#" class="btn btn-block" style="height:28px; font-size:11px; border-radius : 5px;  background-color:#F08A5D; color:#ffffff;">Pilih</a></td>

                   </tr>
             


                   <tr class="jumbotron">
                       <td class="text-center">Batik Air</td>
                       <td class="text-center">2j 55m</td>
                       <td class="text-center">Rp 920.200</td>
                       <td align=right width=70px><a href="#" class="btn btn-block" style="height:28px; font-size:11px; border-radius : 5px;  background-color:#F08A5D; color:#ffffff;">Pilih</a></td>
                       <br />
                   </tr>
                
                   <tr class="jumbotron">
                       <td class="text-center">Del Air</td>
                       <td class="text-center">3j 55m</td>
                       <td class="text-center">Rp 930.200</td>
                       <td align=right width=70px><a href="#" class="btn btn-block" style="height:28px; font-size:11px; border-radius : 5px;  background-color:#F08A5D; color:#ffffff;">Pilih</a></td>
                    
                   </tr>
               </thead>
           </table>
       </div>
    </div>
</body>
</html>
