@{
    ViewBag.Title = "Akun Berhasil";
}

@Styles.Render("~/Content/style.css")


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard - Bank</title>
</head>
<body>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                </div>
                    <div class="col-4">
                       <div class="card" style="border-radius:3px; border:1px solid #808080;">
                            <div class="card-body" style="box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);border-radius: 8px;">
                             <center><h3>Transaksi Berhasil!</b></h3></center>
                                <br />
                                <center> <button type="button" class="btn btn-success">Bayar</button></center>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
</body>
</html>
