@{
    ViewBag.Title = "Detail Pesanan";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail Pesanan</title>
</head>
<body>

    <center><div class="card" style="width:600px;height:300px;background:#EEEEEE;">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <div class="col-md-4">
                <h3><b>Puyuh Air</b></h3>
                <br />
                <h4><b>29 April 2020</b></h4>
                <br />
                <h4><b>2 Dewasa</b></h4>
                <br />
                <h4><b>Pemesanan x 2</b></h4>
                <br />
                <h4><b>Total</b></h4>
            </div>
            <div class="col-md-4">
                <h3>CGK -> DPS</h3>
                <br />
                <h4>4:30 7:25</h4>
                <br />
                <h4>1j 55m</h4>
                <br />
                <h4>Rp 919.200</h4>
                <br />
                <h4>Rp 1.838.400</h4>
                <br />
            </div>
        </div>
    </div>
    <center> <button type="button" class="btn btn-save" style="background-color:#F08A5D;font-size:10px;">Lanjutkan ke pembayaran</button></center>
</div>
    </center>
  
</body>
</html>
